
utils/bspinfo/bspinfo.dsp
utils/light/light.dsp
utils/makefont/makefont.dsp
utils/makels/makels.dsp
utils/mdlviewer/mdlviewer.dsp
utils/mkmovie/mkmovie.dsp
utils/procinfo/procinfo.dsp
utils/qbsp2/qbsp2.dsp
utils/qcsg/qcsg.dsp
utils/qlumpy/qlumpy.dsp
utils/qrad/qrad.dsp
utils/serverctrl/serverctrl.dsp
utils/smdlexp/smdlexp.dsp
utils/sprgen/sprgen.dsp
utils/visx2/vis.dsp
utils/xwad/xwad.dsp
projects/vs2019/.vs/projects/v16/Browse.VC.db
projects/vs2019/.vs/projects/v16/Browse.VC.db-shm
projects/vs2019/.vs/projects/v16/Browse.VC.db-wal
projects/vs2019/.vs/projects/v16/Browse.VC.opendb
projects/vs2019/.vs/projects/v16/Solution.VC.db
projects/vs2019/.vs/projects/v16/Solution.VC.db-shm
projects/vs2019/.vs/projects/v16/Solution.VC.db-wal
